<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">時報システム</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{{ item_0 }}" href="/">時刻表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ item_1 }}" href="/newlive">新しい予約</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ item_2 }}" href="/vtblist">全出席者管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ item_3 }}" href="/notify">通知</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/useredit">{{ username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{ item_4 }}" href="/logout/">ログアウト</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>