
<div class="row g-2">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-floating">
            <input type="text" class="form-control" id="name-str" placeholder="" value="{{ vtbname }}">
            <label for="name-str">名前</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-floating">
            <input type="text" class="form-control" id="twitter-id" placeholder="" value="{{ vtbtwitter }}">
            <label for="twitter-id">Twitter</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="form-floating">
            <input type="text" class="form-control" id="bilibili-id" placeholder="" value="{{ vtbbili }}">
            <label for="twitter-id">Bilibili Space アドレス</label>
        </div>
    </div>
</div>